.addCountDown {
  width: 100%;
}

.addBtn {
  margin: auto;
  margin-top: 40px;
  width: 500px;
  height: 350px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease;

  .plusIcon {
    color: white;
    font-size: 15em;
  }
}

.addBtn:hover {
  // background-color: rgba(0, 0, 0, 0.6);
  background-color: transparent;
  transform: translateY(-4px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.MuiPaper-root {
  border-radius: 20px;
  width: 500px;
  margin: auto;

  .css-imtqqp {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fbf9fa;

    h1 {
      text-align: left;
    }

    .textIpt {
      margin-bottom: 10px;
    }

    .dateIpt {
      margin-bottom: 10px;
    }

    // .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    //   width: 300px;
    // }

    // .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    //   width: 300px;
    // }
    .MuiFormControl-root {
      width: 300px;
    }

    // .css-sghohy-MuiButtonBase-root-MuiButton-root {
    //   background-color: black;
    // }
    // .css-sghohy-MuiButtonBase-root-MuiButton-root:hover {
    //   background-color: silver;
    //   color: black;
    // }
    .MuiButton-containedPrimary  {
      background-color: black;
    }
    .MuiButton-containedPrimary:hover {
      background-color: silver;
      color: black;
    }
  }
}